/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "/src/app/component/shared/Styles/am-styles.scss";
@import "/src/app/component/shared/Styles/material-icons.scss";
$cozentus: #2c3b52;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.dense-1 {
    @include mat.all-component-densities(-1);
  }
  
  .dense-2 {
    @include mat.all-component-densities(-2);
  }
  
  .dense-3 {
    @include mat.all-component-densities(-3);
  }
  
  .dense-form-field-5 {
    @include mat.form-field-density(-5);
  }
.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3{
    margin: 0 !important;
}
.dense-datepicker-5 {
    @include mat.form-field-density(-5);
    @include mat.icon-button-density(-5);
    @include mat.datepicker-density(-5);
  }

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
    background-color: white !important;
}
.mat-mdc-text-field-wrapper{
    background-color: white !important;
}
